# Configuration SSH pour le scan réseau
SSH_USERNAME=smartelia
SSH_PASSWORD=VotreMotDePasseSSH

# Configuration Gmail pour les notifications d'alerte
GMAIL_USER=votre.email@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
ALERT_RECIPIENTS=destinataire1@example.com,destinataire2@example.com

AUTH_PIN=1234
SECRET_KEY=changez-cette-cle-secrete-en-production
