version: '3.8'

services:
  networkscan:
    build: .
    container_name: networkscan
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped
